@use "base";

@mixin theme($theme: red, $color: white) {
  background-color: $theme;
  color: $color;
  box-shadow: 0 0 1px $theme;
}
body {
  background-color: tomato;
}

.info {
  @include theme;
}

.success {
  @include theme(green, white);
}

.warning {
  @include theme(orange, white);
}

.primary {
  @include theme(blue, white);
}

/*Code to generate dynamic css*/

$classToThemeMap: (
  "info": (
    background: LightBlue,
    color: black,
  ),
  "alert": (
    background: DarkRed,
    color: white,
  ),
  "success": (
    background: DarkGreen,
    color: black,
  ),
);
@each $class, $theme in $classToThemeMap {
  .#{$class} {
    @include theme(
      $theme: map-get($theme, background),
      $colorText: map-get($theme, color)
    );
  }
}
