.p10 {
  padding: 10px;
}

%message-shared {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

%flex-common-row {
  display: flex;
  flex-direction: row;
}

@mixin theme($theme: red, $color: white) {
  background-color: $theme;
  color: $color;
  box-shadow: 0 0 1px $theme;
}

.success {
  @extend %message-shared;
  @extend %flex-common-row;
  @extend .p10;
  @include theme(green, white);
  border-color: green;
}

.info {
  @extend %message-shared;
  @extend %flex-common-row;
  border-color: blue;
}

.warning {
  @extend %message-shared;
  @extend %flex-common-row;
  border-color: orange;
}
